@model IEnumerable<RestaurantMenu.Models.Ingredient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Ingredients</h2>
<br />
<br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-3">
            <img class="img-responsive" src="@RestaurantMenu.Controllers.IngredientController.IngredientImage(item.Id_Ingredient)" alt="Alternate Text" />
            <h3 class="text-center">@Html.ActionLink(@RestaurantMenu.Controllers.IngredientController.IngredientName(item.Id_Ingredient), "IngredientMeals", new { id = item.Id_Ingredient })</h3>
        </div>
    }
</div>
