@model IEnumerable<RestaurantMenu.Models.MealIngredient>

@{
    ViewBag.Title = "IngredientMeals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meals</h2>
<br />
<br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-3">
            <img class="img-responsive" src="@RestaurantMenu.Controllers.MealController.MealImage(item.id_Meal)" alt="Alternate Text" />
            <h3 class="text-center">@Html.ActionLink(@RestaurantMenu.Controllers.MealController.MealName(item.id_Meal), "DetallesMeal", "Category", new { id = item.id_Meal }, null)</h3>
        </div>
    }
</div>